


.Sendmessage-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #DDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.Sendmessage-bar__back {
    font-size: 30px;
    margin-left: 20px;
}

.Sendmessage-bar__title {
    position: relative;
    margin-left: 19px;
    font-size: 27px;
    text-shadow: 2px 1px 13px gray;
}

.Sendmessage-bar__Icon {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70px;
    height: 100%;
    margin-right: 7px;
}

.Sendmessage {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Sendmessage__Chats-room-timestamp {
    font-size: 13px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 180px;
    height: 25px;
    background-color: white;
    border-radius: 15px;
    text-align: center;
    line-height: 23px;
    opacity: 0.8;
}

.Sendmessage__Friend {
    margin: 20px 0px;
    display: flex;
    width: 95%;
    height: 50px;
}

.Sendmessage__Friend__receive {
    display: flex;
    width: 100%;
    height: 50px;
}

.Sendmessage__Friend__receive__left {
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.Sendmessage__Friend__receive__right {
    margin-left: 10px;

    width: 100%;
    height: 100%;
}

.Sendmessage__Friend__receive__right__message {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Sendmessage__Friend__receive__right__message__message {
    animation: bubbleEffect 3s ease-in-out infinite;

    background: linear-gradient(to bottom, #4ca1af, #c4e0e5);
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    padding: 10px;
    font-size: 17px;
    opacity: 0.8;
    margin-bottom: 5px;
}

.Sendmessage__Friend__receive__right__message__timestamp {
    position: relative;
    top: 14px;
    opacity: 0.6;
    font-size: 11px;
}

.Sendmessage__Friend__receive__right__name {
    font-size: 12px;
    font-weight: bold;

}

.Sendmessage__My {
    margin: 20px 0px;

    display: flex;
    width: 95%;
    height: 50px;
}

.Sendmessage__My__SengMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}

.Sendmessage__My__SengMessage__timestamp {

    position: relative;
    top: 10px;
    opacity: 0.6;
    font-size: 11px;
}

.Sendmessage__My__SengMessage__Message {

    animation: bubbleEffect 3s ease-in-out infinite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    margin-bottom: 5px;
    opacity: 0.8;

    background: linear-gradient(to bottom, #4ca1af, #c4e0e5);
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    padding: 10px;
}

.SendMessage-bar {

    position: sticky;
    background-color: white;
    height: 50px;
    width: 99.60%;
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.SendMessage-bar__plus {
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 30px;
    height: 30px;
    font-size: 30px;
    line-height: 18px;
    margin-left: 10px;
    opacity: 0.7;
    font-weight: bold;
    border-radius: 5px;
}

.SendMessage-bar__Input {
    border: none;
    font-size: 14px;
    height: 50px;
    width: 80%;

}

.SendMessage-bar__Icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 7px;
}



/*애니메이션효과*/

@keyframes comeinTime {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.Sendmessage__Chats-room-timestamp {
    animation: comeinTime 1s ease-in;
}

@keyframes comeinMessageLeft {
    0% {
        opacity: 0;
        transform: translateX(-250px);
        transform: translateY(-250px);

    }

    90% {
        transform: translateX(100px);

    }

    100% {
        opacity: 1;

        transform: translateX(0);

    }
}

@keyframes comeinMessageRight {
    0% {
        opacity: 0;

        transform: translateX(250px);
        transform: translateY(250px);

    }

    90% {
        transform: translateX(-100px);

    }

    100% {
        opacity: 1;

        transform: translateX(0);


    }
}

.Sendmessage__Friend {
    animation: comeinMessageLeft 0.8s ease-out;
}

.Sendmessage__My {
    animation: comeinMessageRight 0.8s ease-out forwards;

}

@keyframes bubbleEffect {
    0% {
        box-shadow: 0px 8px 5px 5px rgba(0, 3, 6, 0.1);
        transform: translateY(0);

    }

    50% {
        box-shadow: 0px 8px 5px 5px rgba(0, 3, 6, 0.2);
        transform: translateY(-4px);


    }

    100% {

        box-shadow: 0px 8px 5px 5px rgba(0, 3, 6, 0.1);
        transform: translateY(0);

    }
}