.Find-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #ddf3ff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.Find-bar__title {
    animation: friends__appear__left 0.5s ease forwards;

    position: relative;
    margin-left: 19px;
    font-size: 27px;
    text-shadow: 2px 1px 13px gray;
}

.Find-bar__Icon {

    animation: friends__appear__right 0.5s ease forwards;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100%;
    margin-right: 7px;
}

.friends__List__Friends__Box__Plus-btn {
    width: 50px;
    height: 30px;
}

.friends__List__Friends__Box__Plus-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: rgba(247, 246, 245, 0.945);
    border-radius: 8px;
}

.Find__top {

    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Find__top>div:nth-child(1) {

    animation: friends__appear__left 0.5s ease forwards;
}

.Find__top>div:nth-child(2) {

    animation: friends__appear__left 0.8s ease forwards;
}

.Find__top>div:nth-child(3) {

    animation: friends__appear__left 1.1s ease forwards;
}

.Find__top>div:nth-child(4) {

    animation: friends__appear__left 1.4s ease forwards;
}

.Find__top__Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Find__top__Icon__icon {
    font-size: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Find__top__Icon__title {
    opacity: 0.7;
    margin-top: 15px;
    font-weight: 500;
    font-size: 8px;
}

.Find__bottom {
    width: 100%;
    height: 367px;
}

.Find__bottom__title {
    font-size: 18PX;
    opacity: 0.6;
    margin-left: 20px;
    margin-bottom: 17px;
}

.plusname {
    font-size: 15px;
    opacity: 0.8;
    font-weight: 700;
}