.Find-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #ddf3ff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.Find-bar__title {
    position: relative;
    margin-left: 19px;
    font-size: 27px;
    font-family: "Sunflower", sans-serif;
    text-shadow: 2px 1px 13px gray;
}

.Find-bar__Icon {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100%;
    margin-right: 7px;
}

.friends__List__Friends__Box__Plus-btn {
    width: 50px;
    height: 30px;
}

.friends__List__Friends__Box__Plus-btn__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    background-color: rgba(247, 246, 245, 0.945);
    border-radius: 8px;
}

.Find__top {
    font-family: 'Sunflower', sans-serif;

    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    padding: 0px 30px;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Find__top__Icon__icon {
    font-size: 15px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Find__top__Icon__title {
    opacity: 0.7;
    margin-top: 15px;
    font-size: small;
    font-weight: 500;
}

.Find__bottom {
    width: 100%;
    height: 367px;
}

.Find__bottom__title {
    font-family: 'Sunflower', sans-serif;
    font-size: 18PX;
    opacity: 0.6;
    margin-left: 20px;
    margin-bottom: 17px;
}