.Friends-bar {

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #DDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;


}

@keyframes friends__appear__left {
    0% {
        transform: translateX(-150px);
    }

    100% {
        transform: translateX(0);

    }
}

@keyframes friends__appear__right {
    0% {
        transform: translateX(150px);
    }

    100% {
        transform: translateX(0);

    }
}

.Friends-bar__title {
    animation: friends__appear__left 0.5s ease forwards;
    position: relative;
    margin-left: 19px;
    font-size: 27px;

    text-shadow: 2px 1px 13px gray;
}

.Friends-bar__Icon {
    animation: friends__appear__right 0.5s ease forwards;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100%;
    margin-right: 7px;
}

.friends__List__MyProfile {
    animation: friends__appear__left 0.9s ease forwards;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);


}

.friends__List__MyProfile__Box {

    width: 70%;
    position: relative;
    left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.friends__List__MyProfile__Box__Img {
    position: relative;
    border-radius: 45px;
    width: 100px;
    height: 100px;
    background-size: cover;
    border: 1px solid rgba(0, 0, 0, 0.4);
    background-image: url(img/mypic.jpg);
}

.friends__List__MyProfile__Box__My {
    position: relative;

    left: 20px;
}

.friends__List__MyProfile__Box__My__Name {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.friends__List__MyProfile__Box__My__state {
    font-size: 13px;
    opacity: 0.6;
}

.friends__List__Plusfriend {
    width: 100%;
    height: 140px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.friends__List__Plusfriend__title {
    margin-left: 10px;
    margin-bottom: 25px;

    font-size: 16px;
    opacity: 0.7;
}


.friends__List__Plusfriend__Box {
    animation: friends__appear__left 0.9s ease forwards;
    width: 70;
    display: flex;
    align-items: center;

}

.friends__List__Plusfriend__Img {

    margin-left: 15px;
    background-image: url('img/Mc.jpg');
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 45px;


}

.friends__List__Plusfriend__Name {

    font-size: 18px;
    margin-left: 20px;
}

.friends__List__Friends {
    width: 100%;
}



.friends__List__Friends__title {
    margin-left: 10px;
    margin-bottom: 25px;

    font-size: 16px;
    opacity: 0.7;
}

.friends__List__OnePerson {
    margin: 10px 0px;
}


.friends__List__Friends__Box {
    animation: friends__appear__left 1.2s ease forwards;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.friends__List__Friends__Box__left {
    display: flex;

}

.friends__List__Friends__Box__left__Img {
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background-size: cover;
    border-radius: 45px;


}

.friends__List__Friends__Box__left__Friend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.friends__List__Friends__Box__left__Friend__Name {

    font-size: 16px;
    margin-left: 20px;
}

.friends__List__Friends__Box__left__Friend__state {

    font-size: 12px;
    margin-left: 22px;
    opacity: 0.7;
}

.friends__List__Friends__right {
    margin-right: 3px;
    border: 2px solid #52e084;
    width: 220px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 15px;
    font-size: 14px;

}

.song {
    background-image: url('img/song.jpg');
}

.won {
    background-image: url('img/won.jpg');

}

.lot {
    background-image: url('img/Lot.png');
}

.spao {
    background-image: url('img/spao.jpg');

}

.zara {
    background-image: url('img/zara.jpg');

}

.olive {
    background-image: url('img/olive.jpg');

}