.chats-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #DDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;

}

.chats-bar__title {
    position: relative;
    margin-left: 19px;
    font-size: 27px;
    text-shadow: 2px 1px 13px gray;
    animation: friends__appear__left 0.5s ease forwards;
}

.chats-bar__Icon {
    animation: friends__appear__right 0.5s ease forwards;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100%;
    margin-right: 7px;
}



.chats__list__singlechat {
    width: 100%;
    height: 60px;

}

.chats__list___chatbox {
    width: 97%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.chats__list__chatbox__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: 5px;
    width: 70%;
}

.chats__list__chatbox__left__img {
    position: relative;
    margin-left: 5px;
    margin-right: 8px;
    border-radius: 45px;

    width: 40px;
    height: 40px;
    background-size: cover;
}

.usernum1 {
    background-image: url('img/user-1.jpg');
    animation: friends__appear__left 0.5s ease forwards;
}

.usernum2 {
    background-image: url('img/bae.jpg');
    animation: friends__appear__left 0.7s ease forwards;

}

.usernum3 {
    background-image: url('img/song.jpg');
    animation: friends__appear__left 0.8s ease forwards;

}

.usernum4 {
    background-image: url('img/won.jpg');
    animation: friends__appear__left 1s ease forwards;

}

.usernum5 {
    background-image: url('img/bang.jpg');
    animation: friends__appear__left 1.2s ease forwards;

}

.usernum6 {
    background-image: url('img/E.jpg');
    animation: friends__appear__left 1.4s ease forwards;

}

.usernum7 {
    background-image: url('img/hong.jpg');
    animation: friends__appear__left 1.6s ease forwards;

}

.chats__list__chatbox__left__user {
    display: flex;
    flex-direction: column;
}

.chats__list__chatbox__left__user__name {
    font-size: 15px;
    font-weight: bold;

}

.chats__list__chatbox__left__user__content {

    font-size: 12px;
    opacity: 0.7;
    display: flex;
}

.chats__list__chatbox__left__user__countNum {
    position: relative;
    bottom: 1px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: white;
    background-color: red;

}

.chats__list__chatbox__right {
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.chats__list__chatbox__right__timestamp {
    font-size: 11px;
    opacity: 0.5;
}
