.mainScreen {
    position: relative;
    z-index: 1;
    animation: appear 1s ease-in-out forwards;
    width: 99.7%;
    height: 550px;
    background-color: #DDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.mainScreen__2 {
    z-index: 2;
    position: relative;

    width: 99.5%;
    height: 550px;
}

@keyframes appear {
    0% {
        transform: translateY(0);

    }

    50% {
        transform: translateY(-7px);

    }

    100% {
        transform: translateY(0);

    }
}