.More {
    width: 99.7%;
    height: 570px;
    background-color: #DDF3FF;
    border-top: 1px solid rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

}

.More-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: #ddf3ff;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}




.More-bar__title {
    animation: friends__appear__left 0.5s ease forwards;

    position: relative;
    margin-left: 19px;
    font-size: 27px;
    text-shadow: 2px 1px 13px gray;
}


.More-bar__Icon {
    animation: friends__appear__right 0.5s ease forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    height: 100%;
    margin-right: 7px;
}

.More__Icon {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

}

.More__Icon__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.More__Icon>.More__Icon__icon:nth-child(1) {
    animation: More__Icon__appear-1 0.5s ease-in-out forwards;
}

.More__Icon>.More__Icon__icon:nth-child(2) {
    animation: More__Icon__appear-2 0.7s ease-in-out forwards;
}

.More__Icon>.More__Icon__icon:nth-child(3) {
    animation: More__Icon__appear-3 0.9s ease-in-out forwards;
}




@keyframes More__Icon__appear-1 {
    0% {
        transform: translate(250px, -250px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes More__Icon__appear-2 {
    0% {
        transform: translate(160px, -250px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes More__Icon__appear-3 {
    0% {
        transform: translate(70px, -250px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.More__Icon__title {
    margin-top: 10px;
}

.Suggestions {
    margin-top: 10px;
    width: 100%;
    height: 120px;

}

.Suggestions__Title {
    font-size: 18px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
    opacity: 0.5;

}

.Suggestions__Icon {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Suggestions__Icon__Icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Suggestions__Icon__Icon__title {
    animation: friends__appear__right 1s ease forwards;
    margin-top: 10px;

}

.Suggestions__Icon__Icon:nth-child(1)>.kakao {
    animation: Suggestions__Icon__appear-1 .5s ease forwards;
}

.Suggestions__Icon__Icon:nth-child(2)>.kakao {
    animation: Suggestions__Icon__appear-2 .7s ease forwards;
}

.Suggestions__Icon__Icon:nth-child(3)>.kakao {
    animation: Suggestions__Icon__appear-3 .9s ease forwards;
}

@keyframes Suggestions__Icon__appear-1 {
    from {
        transform: translate(-30px, 100px);
    }

    to {
        transform: translate(0, 0);
    }
}

@keyframes Suggestions__Icon__appear-2 {

    from {
        transform: translate(-120px, 100px);

    }

    to {
        transform: translate(0, 0);

    }
}

@keyframes Suggestions__Icon__appear-3 {
    from {
        transform: translate(-210px, 100px);

    }

    to {
        transform: translate(0, 0);

    }
}

.kakao {
    background-color: #fce006;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cog {
    animation: For__cog 1s ease-in-out infinite;
}

@keyframes For__cog {
    0% {
        opacity: 1;
        transform: translateY(0);

    }

    50% {
        opacity: 0.4;
        transform: translateY(-5px);


    }

    100% {
        opacity: 1;
        transform: translateY(0);


    }
}