.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    bottom: 0px;
    left: 0px;
    line-height: 70px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;

}


.nav-bar__Icon {
    font-size: 20px;
}