.Settings-main {
    width: 99.7%;
    height: 548px;
    background-color: white;
    border-top: 1px solid rgba(0, 0, 0, 0.02);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    animation: appear-settings 1s ease forwards;
}

.Settings-bar {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

    width: 99.5%;
    height: 70px;
    display: flex;
    background-color: rgb(236, 236, 236);

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    align-items: center;
}

.Settings-bar__back {
    animation: friends__appear__left 0.5s ease forwards;
    font-size: 30px;
    margin-left: 20px;
}


.Settings-bar__title {
    animation: friends__appear__left 1s ease forwards;
    position: relative;
    margin-left: 19px;
    font-size: 27px;
    text-shadow: 2px 1px 13px gray;
}


.Settings-bar__Icon {
    animation: friends__appear__left 1.2s ease forwards;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60px;
    height: 100%;
}

.Settings__Top {
    margin-top: 15px;
    width: 100%;
    height: 190px;
}

.Settings__Top__Box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}


.Settings__Top>.Settings__Top__Box:nth-child(1) {
    animation: friends__appear__left 0.4s ease-in-out forwards;

}

.Settings__Top>.Settings__Top__Box:nth-child(2) {
    animation: friends__appear__left 0.6s ease-in-out forwards;

}

.Settings__Top>.Settings__Top__Box:nth-child(3) {
    animation: friends__appear__left 0.8s ease-in-out forwards;

}

.Settings__Top__Box__Icon {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 10px;
    opacity: 0.8;
}

.ettings__Top__Box__title {


    height: 100%;
    font-size: 15px;
    opacity: 0.8;
}

.Settings__Top__Box__title__title {

    display: flex;
    justify-content: center;
    align-items: center;
}

.Settings__Top__Box__title__title__new {
    opacity: 0.8;
    margin-left: 10px;
    font-size: 2px;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: rgb(240, 54, 54);
    color: white;
}

.Settings__Top__Box__title__version {
    opacity: 0.6;
    font-size: 15px;
}


.Settings__Bottom {
    overflow: hidden;
    margin-top: 15px;
    width: 100%;
    height: 330px;
}

.Settings__Bottom__Box {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-bottom: 5px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}

.Settings__Bottom>.Settings__Bottom__Box:nth-child(1) {
    animation: friends__appear__left 1s ease-in-out forwards;
}

.Settings__Bottom>.Settings__Bottom__Box:nth-child(2) {
    animation: friends__appear__left 1.2s ease-in-out forwards;
}

.Settings__Bottom>.Settings__Bottom__Box:nth-child(3) {
    animation: friends__appear__left 1.4s ease-in-out forwards;
}

.Settings__Bottom>.Settings__Bottom__Box:nth-child(4) {
    animation: friends__appear__left 1.6s ease-in-out forwards;
}

.Settings__Bottom>.Settings__Bottom__Box:nth-child(5) {
    animation: friends__appear__left 1.8s ease-in-out forwards;
}


.Settings__Bottom__Box__Icon {
    font-size: 25px;
    margin-left: 15px;
    margin-right: 10px;
    opacity: 0.8;
}

.ettings__Bottom__Box__title {
    height: 100%;
    font-size: 15px;
    opacity: 0.8;
}

@keyframes appear-settings {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}