.status-bar {
    position: relative;
    margin-top: 6px;
    opacity: 0.7;
    width: 90%;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.status-bar__Icon {
    font-size: 12px;

}