@import 'index.css';
@import 'status-bar.css';
@import 'friends.css';
@import 'find.css';
@import 'mainScreen.css';
@import 'nav-bar.css';
@import 'more.css';

* {
    box-sizing: border-box;
}

.index__container {
    border-radius: 45px;

    width: 90%;
    height: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.5px solid black;
    background-color: #b8b7b738;
    box-shadow: 0px 0px 3px 0px rgb(114, 114, 114);
}



body {
    background-color: #C4C0BF;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 800px;
    border-radius: 65px;
    box-shadow: 20px 15px 13px 5px rgba(0, 3, 6, 0.6), inset -10px -10px 10px grey;
    background-color: #F4F6F9;

}